body{
  margin: 0%;
}
.layout{
  background-color: #009EFF;
margin: 0;
height: 100vh;
align-content: center;
padding:100px 0 100px 0;

}
.logo{
  width: 50%;
  margin: 40px auto 20px auto;
  display: flex;
}
.form{
  width:30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  background-color: rgb(255, 255, 255);
}
.layout h1{
  display: block;
  margin: 20px auto 20px auto;
  width: 30%;
}
.form input{
  display: inline-block;
  margin: 20px 10px 20px 1px;
  padding: 10px;
  width: 60%;
}
.form label{
  display: inline-block;
  margin:0 1px 0 20px;
  padding: 10px;
  width: 20%;
  background-color: rgb(232, 223, 223);
  border-radius: 5%;
  justify-content: center;
  text-align: center;
}
.form input[type=submit]{
  background-color: #2146C7;
  height: 20px;
  width: 95%;
  margin: 20px 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  justify-content:center;
  display: inline-block;
  border-radius: 4%;
}
.form input[type=radio]{
  display: inline-block;
  margin:10px;
  padding: 10px;
  width: 10%;
  background-color: rgb(232, 223, 223);
  border-radius: 5%;
  justify-content: center;
  text-align: center;
}
.form select{
  display: inline-block;
  margin: 20px 10px 20px 1px;
  padding: 10px;
  width: 66%;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
small{
  margin:0 0 0 25%;
  padding: 0%;
  display: flex;
  text-align: center;
}