    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <div class="layout">
      <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onButtonClick()">
        <img src="../assets/logo.jpeg" alt="logo" class="logo">
        <h1>Sign-Up</h1>
        <label for="name"><i class="fa fa-user-circle-o" style="font-size:18px"></i></label>
        <input type="text" id="name" name="name" formControlName="uname" placeholder="Username">
        <small style="color: red;" *ngIf="!reactiveForm.get('uname')?.valid && (reactiveForm.get('uname')?.['touched'])">This field is required</small>
        <label for="email"><i class="fa fa-envelope" style="font-size:18px"></i></label>
        <input type="text" id="email" name="email" formControlName="email" placeholder="Email">
        <small style="color: red;" *ngIf="!reactiveForm.get('email')?.valid && (reactiveForm.get('email')?.['touched'])">This field is required</small>
        <label for="html">Male</label>
        <input type="radio" id="gender" name="gender" value="male" formControlName="gender">
        <label for="css">Female</label>
        <input type="radio" id="gender" name="gender" value="female" formControlName="gender">
        <label for="name"><i class="fa fa-globe" style="font-size:18px"></i></label>
        <select name="country" id="country" formControlName="country">
        <option value="India" selected>India</option>
        <option value="USA">USA</option>
        <option value="Russia">Russia</option>
        <option value="Japan">Japan</option>
        </select>
        <small style="color: red;" *ngIf="!reactiveForm.get('country')?.valid && (reactiveForm.get('country')?.['touched'])">This field is required</small>
        <label for="phno"><i class="fa fa-phone" style="font-size:18px"></i></label>
        <input type="text" id="phone" name="phone" formControlName="phone" placeholder="Phone-number">
        <small style="color: red;" *ngIf="!reactiveForm.get('phone')?.valid && (reactiveForm.get('phone')?.['touched'])">This field is required</small>
        <label for="education"><i class="fa fa-mortar-board" style="font-size:18px"></i></label>
        <input type="text" id="education" name="education" formControlName="education" placeholder="Education">
        <small style="color: red;" *ngIf="!reactiveForm.get('education')?.valid && (reactiveForm.get('education')?.['touched'])">This field is required</small>

        <input type="submit">
      </form>
    </div>
<div>
  <app-display> </app-display>
</div>
